* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(50px, auto);
  column-gap: 2px;
  row-gap: 2px;
  grid-template-areas:
    "hd"
    "nav"
    "sd"
    "main"
    "ft";
}

@media only screen and (min-width: 500px) {
  #root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    column-gap: 2px;
    row-gap: 2px;
    grid-template-areas:
      "hd hd hd hd"
      "nav nav nav nav"
      "sd main main main"
      "ft ft ft ft";
  }
}

header {
  grid-area: hd;
}

nav {
  grid-area: nav;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul {
  padding: 10px;
}

footer {
  grid-area: ft;
}

main {
  grid-area: main;
}

aside {
  grid-area: sd;
}

#root {
  margin: 2px;
}


#root>* {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

#root nav {
  padding: 5px;
}

#root aside {
  padding: 5px
}